
<%- include('partials/header'); -%>

<section class="main">
    <div class="started"><a href="/api/auth/register">Get Started</a></div>
</section>
<section class="footer">
</section>

<%- include('partials/footer'); -%>

    

    