
<section class="header">
    <nav class="nav-bar">
        <h1 class="title">HorlerTech</h1>
        <div class="menu">
            <div class="menu_item active"><a href="#">Home</a></div>
            <div class="menu_item"><a href="#">Services</a></div>
            <div class="menu_item"><a href="#">About</a></div>
            <div class="menu_item"><a href="/api/auth/register">Register</a></div>
            <div class="menu_item"><a href="/api/auth/login">Login</a></div>
        </div>
    </nav>
</section>
<section class="main">
    <div class="started"><a href="/api/auth/register">Get Started</a></div>
</section>
<section class="footer">
    
</section>

    

    