
        <h1>Login Form</h1>
        <% if(typeof errors != 'undefined'){ %> 
            <% errors.forEach(function(error) { %>
            <div class="alert">
              <%= error.msg %>
            </div>
            <% }); %> 
        <% } %>
        <div class="success"><%= typeof info != 'undefined' ? info : '' %></div>
        <div class="failure"><%= typeof error != 'undefined' ? error : '' %></div>
        <form action="/api/auth/login" method="POST">
            <div class="username">
                <label for="username">
                    <input type="text" name="email">
                </label>
            </div>
            <div class="password">
                <label for="pswd">
                    <input type="password" name="password">
                </label>
            </div>
            <button type="submit">Login</button>
        </form>
        <section class="info">
            <p>Not yet a member ? <a href="/api/auth/register">Register</a></p>
            <p>Return to <a href="/">home</a></p>
        </section>