<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        <h1>Register Form</h1>
        <span class="success"><%= msg !== undefined ? msg : '' %></span>
        <form class="register_form" action="/api/auth/register" method="POST" enctype="multipart/form-data">
            <label for="fname">
                First Name
                <input type="text" name="first_name" id="fname">
            </label>
            <label for="lname">
                Last Name
                <input type="text" name="last_name" id="lname">
            </label>
            <label for="email">
                Email
                <input type="email" name="email" id="email">
            </label>
            <label for="phone">
                Phone Number
                <input type="text" name="phone" id="phone">
            </label>
            <label for="pswd">
                Password
                <input type="password" name="password" id="pswd">
            </label>
            <label for="confirm-pswd">
                Password
                <input type="password" id="confirm-pswd">
            </label>
            <button class="submit-btn" type="submit">Submit</button>
        </form>
        <p>Already registered ? <a href="login">Login</a></p>
        <p>Return to <a href="/">home</a></p>
    </div>

    <script src="/js/app.js"></script>
</body>
</html>