<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registration Page</title>
</head>
<body>
    <div class="container">
        <h1>Register Form</h1>
        <div class="success"><%= typeof msg != undefined ? msg : '' %></div>
        <div class="failure"><%= typeof error != undefined ? error : '' %></div>
        <form class="register_form" action="/api/auth/register" method="POST">
            <div class="email"> 
                <label for="email">
                    Email
                    <input type="email" name="email" id="email">
                </label>
            </div>
            <div class="password">
                <label for="pswd">
                    Password
                    <input type="password" name="password" id="pswd">
                </label>
                <label for="confirm-pswd">
                    Password
                    <input type="password" name="confirm-password" id="confirm-pswd">
                </label>
            </div>
            <button class="submit-btn" type="submit">Submit</button>
        </form>
        <p>Already registered ? <a href="login">Login</a></p>
        <p>Return to <a href="/">home</a></p>
    </div>

    <script src="/js/app.js"></script>
</body>
</html>