@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%); */
  background: #f6f5f7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  display: inline-block;
  letter-spacing: 0.5px;
  margin: 20px 30px;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  margin: 15px 0;
}

a:hover {
  border-bottom: 1px solid;
}

.nav-bar {
  background: #0ba360;
}

nav img {
  margin: 5px;
}

.menu {
  height: 10vh;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}

.menu_item {
  background: rgba(255, 255, 255, 0.5);
}

.menu_item a {
  width: 70px;
  height: 30px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.5);
}

.menu_item.active {
  color: rgba(0, 0, 0, 0.5);
}

.main {
  min-height: 80vh;
  display: grid;
  place-items: center;
  text-align: center;
  background: #fff;
}

.started {
  text-transform: uppercase;
  background: #0ba360;
  color: #222;
  width: 200px;
  height: 50px;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.25rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.started a {
  color: white;
}
.started:hover {
  color: #fff;
  background: #222;
}

/*  */
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 20px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

/* Register and Login */
.wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  margin: 50px auto;
  width: 500px;
  max-width: 100%;
  min-height: 380px;
}

form {
  background-color: #ffffff;
  padding: 0 50px;
  height: 100%;
}

form h1 {
  text-align: center;
  margin: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  background-color: #eee;
  display: flex;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.span {
  margin-bottom: 10px;
}

.social-container {
  margin: 20px;
  text-align: center;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.get_users {
  width: 100px;
  height: 30px;
}

.error_msg,
.errors_msg,
.error_alert,
.failure {
  font-size: 14px;
  color: #ff4b2b;
  text-align: center;
  margin: 10px;
}

.success_msg,
.success {
  font-size: 14px;
  color: chartreuse;
}
